.header{
    background-image: url('../../images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    height: 80vh;
    flex-direction: column;
    width: 100%;
}

.header__top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 3rem 5rem;
}

#btn__menu{
    display: none;
}

.nav__menu{
    display: flex;
}

.nav__item{
    color: var(--white);
    margin-right: 1rem;
    padding-bottom: 0.5rem;
}

.underline{
    color: var(--white);
    font-size: 1rem;
    display: inline-block;
    position: relative;
}

.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--white);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
    margin-top: 4rem;
}

.underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    margin-top: 4rem;
}

.header__bottom{
    border: 2px solid var(--white);
    margin-left: 5rem;
    width: 35%;
}

.header__title{
    color: var(--white);
    font-family: var(--josefin-sans);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1.5rem;
}

@media screen and (max-width: 768px) {

    .header{
        background-image: url('../../images/mobile/image-hero.jpg');
        height: 100vh;
        justify-content: space-between;
    }

    .header__top{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

    #btn__menu{
        display: flex;
    }

    .nav{
        display: none;
    }

    .header__bottom{
        justify-self: center;
        border: 2px solid var(--white);
        margin-left: 2rem;
        margin-bottom:2rem ;
        width: 85%;
    }

    .header__title{
        font-size: 2.5rem;
        margin: 1.5rem;
    }
}


@media screen and (max-width: 375px) {

    .header{
        background-image: url('../../images/mobile/image-hero.jpg');
        height: 100vh;
        justify-content: space-between;
    }

    .header__top{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }

    #btn__menu{
        display: flex;
    }

    .nav{
        display: none;
    }

    .header__bottom{
        justify-self: center;
        border: 2px solid var(--white);
        margin-left: 2rem;
        margin-bottom:2rem ;
        width: 85%;
    }

    .header__title{
        font-size: 2.5rem;
        margin: 1.5rem;
    }
}