.header{
    background-image: url('../../images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    height: 80vh;
    flex-direction: column;
    width: 100%;
}

.header__top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 3rem 5rem;
}

.nav__menu{
    display: flex;
}

.nav__item{
    color: var(--white);
    margin-right: 1rem;
}

.nav__item:hover{
   
    border-bottom: 2px solid var(--white);
}

.header__bottom{
    border: 2px solid var(--white);
    margin-left: 5rem;
    width: 35%;
}

.header__title{
    color: var(--white);
    font-family: var(--josefin-sans);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1.5rem;
}

.interactive{
    align-items: flex-end;
    display: flex;
    margin-top: 5rem;
}

.interative__img{
    margin-left: 5rem;
}

.interative__img img{
    width: 600px;
}

.interactive__text{
    background: var(--white);
    padding: 5rem 2rem 1rem 5rem;
    width: 30%;
    z-index: 5;
    position: absolute;
    left: 550px;
}

.interactive__text__title{
    color: var(--black);
    font-family: var(--josefin-sans);
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.interactive__text__text{
    color: var(--very-dark-gray);
    line-height: 1.5rem;
}

.creations{
    margin: 3rem 3rem 3rem 5rem;
}

.creations__top{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.creations__title{
    font-family: var(--josefin-sans);
    font-size: 2rem;
    text-transform: uppercase;
}

.creations__button{
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    font-family: var(--josefin-sans);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 2rem;
}

.creations__button:hover{
    background: var(--black);
    color: var(--white);
    transition: var(--transition);
}

.creations__images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.creations__img{
    align-items: end;
    display: flex;
    height: 400px;
    width: 250px;
}

.creations__subtitle{
    color: var(--white);
    font-family: var(--josefin-sans);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0 2rem 2rem;
}

.earth{
    background-image: url('../../images/desktop/image-deep-earth.jpg');
    background-size: cover;
}

.arcade{
    background-image: url('../../images/desktop/image-night-arcade.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}